<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Swiss Digital Identity and Privacy Institute</title>
    <meta name="description" content="Official website of the Swiss Digital Identity and Privacy Institute (SDIPI).
">

    <link rel="stylesheet" href="https://sdipi.ch/css/main.css">
    <link rel="stylesheet" href="https://sdipi.ch/css/font-awesome.min.css">
    <link rel="shortcut icon" href="https://sdipi.ch/favicon.ico?1">

    <title>Swiss Digital Identity and Privacy Institute | Official website of the Swiss Digital Identity and Privacy Institute (SDIPI).</title>
    <meta property="og:title" content="Swiss Digital Identity and Privacy Institute" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Official website of the Swiss Digital Identity and Privacy Institute (SDIPI)." />
    <meta property="og:description" content="Official website of the Swiss Digital Identity and Privacy Institute (SDIPI)." />
    <link rel="canonical" href="http://df.sdipi.ch/" />
    <meta property="og:url" content="http://df.sdipi.ch/" />
    <meta property="og:site_name" content="Swiss Digital Identity and Privacy Institute" />
    <script type="application/ld+json">
{"name":"Swiss Digital Identity and Privacy Institute","description":"Official website of the Swiss Digital Identity and Privacy Institute (SDIPI).","author":null,"@type":"WebSite","url":"https://sdipi.kewindousse.ch/","image":null,"publisher":null,"headline":"Swiss Digital Identity and Privacy Institute","dateModified":null,"datePublished":null,"sameAs":null,"mainEntityOfPage":null,"@context":"http://schema.org"}</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="canonical" href="http://df.sdipi.ch/">
    <link rel="alternate" type="application/rss+xml" title="Swiss Digital Identity and Privacy Institute" href="http://df.sdipi.ch/" />
</head>