<div class="jumbotron">
    <h1 class="display-3">Web Digital Footprint connection</h1>
    <p class="lead">Welcome to the study's home page.</p>
    <hr class="my-4">
    <p>To take part in the study, please install our Google Chrome Extension :</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/static/extension.crx" role="button">Install</a>
        <a class="btn btn-primary btn-lg" href="https://chrome.google.com/webstore/detail/web-digital-footprints/kbmmkipphifelfcboopgohdmallcifap?hl=fr" role="button">Install on the Chrome Store</a>
    </p>
</div>